body {
    background-image: url('bgG.png');
    background-size: cover;
    margin: 0;
    height: 100vh;
    font-family: sans-serif;
    color: white;
  }
#desk {
  width: 1050px;
  position: absolute;
  top: 680px;
  left: 50%;
  margin: 0 0 0 -735px;
  border: solid 3px #fff;
  border-radius: 20px;
  height: 340px;
  float: left;
}
#cardStackOld, #cardStackNew, .text {
  background: rgba(255, 255, 255, 0.4); 
  cursor: default;
}
 .text{
  width: 164px;
  float: left;
  height: 2px;
  padding: 10px 10px 27px 10px;
  border: solid 3px #fff;
  border-radius: 10px;
  margin: 10px 10px 0 10px;
  text-align: center;
}
 .cards {
  width: 164px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid 3px #fff;
  float: left;
  position: relative;
}
 .cards img {
  transition: all 400ms;
  position: absolute;
  top: 4%;
  left: 5%; 
  bottom: 5%;
  right: 5%;
  width: 90%;
  cursor: pointer;
}
#deskPC {
  width: 1050px;
  position: absolute;
  top: -650px;
  left: 70%;
  margin: 0 0 0 -735px;
  border: solid 3px #fff;
  border-radius: 20px;
  height: 290px;
  float: left;
}
.cardsPC {
  width: 164px;
  height: 240px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: solid 3px #fff;
  float: left;
  position: relative;
}
.cardsStack {
  width: 164px;
  height: 240px;
  margin: 400px;
  padding: 10px;
  border-radius: 10px;
  border: solid 3px #fff;
  float: left;
  left: -10%;
  position: relative;
}
.cardsStack img {
  transition: all 400ms;
  position: absolute;
  top: 4%;
  left: 5%; 
  bottom: 5%;
  right: 5%;
  width: 90%;
  cursor: pointer;
}
.cardsOld {
  width: 164px;
  height: 240px;
  margin: 400px;
  padding: 10px;
  border-radius: 10px;
  border: solid 3px #fff;
  float: left;
  left: 10%;
  position: relative;
}
.cardsOld img {
  transition: all 400ms;
  position: absolute;
  top: 4%;
  left: 5%; 
  bottom: 5%;
  right: 5%;
  width: 90%;
  cursor: pointer;
}
.textA {
  width: 164px;
  float: left;
  height: 2px;
  padding: 10px 10px 27px 10px;
  border: solid 3px #fff;
  border-radius: 10px;
  margin: 350px 0px 0 -360px;
  text-align: center;
}
.textD {
  width: 164px;
  float: left;
  height: 2px;
  padding: 10px 10px 27px 10px;
  border: solid 3px #fff;
  border-radius: 10px;
  margin: 350px 0px 0 -820px;
  text-align: center;
}
#stapel {
  position: absolute;
  top: -10px;
  left:0%;
}
  /*Uno Karten
.Card {
    width: 164px;
    margin: 10px;
    height: 240px;
    padding: 10px;
    border-radius: 10px;
    border: solid 9px #fff;
    float: left;
    position: relative;
    color: white;
    background: #0956BF;
  }
.bigNumber {
  position: absolute;
  font-size: 150px;
  margin: 30px 40px;
}
.smallNumber1 {
  position: absolute;
  font-size: 40px;
  margin: 0px 0px;
}
.smallNumber2 {
  position: absolute;
  font-size: 40px;
  margin: 200px 130px;
  transform: rotate(-180deg);
}
/*Uno Karten

