body {
    background-image: url(bg.png);
}
.Karte {
    position: relative;
    top: 100px;
    left: 200px;
    display: block;
}
.video {
    position: relative;
    top: -250px;
    left:240px;
    display: block;    
}
.Bandarole {
    position: relative;
    top: -320px;
    left: 570px;
}
